node_modules/
dist/
.DS_Store
*.log
npm-debug.log*

/.idea/
/.yarn/
/packages/ui/coverage/lcov-report/components/Editor/formattingUtils.ts.html
/packages/ui/coverage/lcov-report/components/Editor/imageUtils.ts.html
/packages/ui/coverage/lcov-report/components/Editor/index.html
/packages/ui/coverage/lcov-report/components/Editor/linkUtils.ts.html
/packages/ui/coverage/lcov-report/components/Editor/selectionUtils.ts.html
/packages/ui/coverage/lcov-report/components/Editor/tableUtils.ts.html
/packages/ui/coverage/lcov-report/components/Editor/utils.ts.html
/packages/ui/coverage/lcov-report/components/utils/BibleUtils.ts.html
/packages/ui/coverage/lcov-report/components/utils/index.html
/packages/ui/coverage/lcov-report/contexts/BibleContextUtils.ts.html
/packages/ui/coverage/lcov-report/contexts/bibleTextLoader.ts.html
/packages/ui/coverage/lcov-report/contexts/index.html
/packages/ui/coverage/lcov-report/contexts/notesFileIO.ts.html
/packages/ui/coverage/lcov-report/contexts/notesUtils.ts.html
/packages/ui/coverage/lcov-report/base.css
/packages/ui/coverage/lcov-report/block-navigation.js
/packages/ui/coverage/lcov-report/favicon.png
/packages/ui/coverage/lcov-report/index.html
/packages/ui/coverage/lcov-report/prettify.css
/packages/ui/coverage/lcov-report/prettify.js
/packages/ui/coverage/lcov-report/sort-arrow-sprite.png
/packages/ui/coverage/lcov-report/sorter.js
/packages/ui/coverage/clover.xml
/packages/ui/coverage/coverage-final.json
/packages/ui/coverage/lcov.info
